/* Common styles for both modes */
.root {
    -fx-font-size: 14;
    -fx-min-width: 100px;
    -fx-padding: 0;
}

.button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-min-width: 100px;
}

.button:hover {
    -fx-background-color: #1873CD;
}

.button:disabled {
    -fx-background-color: #797979;
}

.input-container {
    -fx-padding: 10 20 10 20; /* top, right, bottom, left */
    -fx-spacing: 10px;
}

.input-container > * {
    -fx-spacing: 10px;
}

.spellchecker-container {
    -fx-padding: 20 0 0 25; /* top, right, bottom, left */
}

#suggested-word-list {
    -fx-pref-width: 250px;
    -fx-pref-height: 150px;
}

#label-suggested-words {
    -fx-padding: 0 0 10 0;
}

.correction-container {
    -fx-padding: 75 0 0 40; /* top, right, bottom, left */
}

#label-correction-options {
    -fx-padding: 0 0 10 0;
}

.correction-button-group {
    -fx-spacing: 10px;
}

#label-file-contents {
    -fx-padding: 10 0 0 0;
}

.file-contents-container {
    -fx-padding: 50 20 10 20; /* top, right, bottom, left */
    -fx-spacing: 10px;
}

.file-contents-container > * {
    -fx-spacing: 10px;
}

.edit-button-container {
    -fx-padding: 0 0 10 0; /* top, right, bottom, left */
    -fx-spacing: 15px;
}
#label-manual-correction-buttons {
    -fx-padding: 2.5 0 0 0;
}

.footer-container {
    -fx-padding: 20 20 0 20; /* top, right, bottom, left */
}
.toggle-group-box {
    -fx-padding: 0 0 0 420;
    -fx-spacing: 15px;
}



/* Styles specific to light mode */
.light-mode {
    -fx-background-color: #cecece; /* Light gray background */
    -fx-control-inner-background: #F5F5F5;
    -fx-text-fill: black;
}

.light-mode .label, .light-mode .footer-container .radio-button {
    -fx-text-fill: black;
}


/* Styles specific to dark mode */
.dark-mode {
    -fx-background-color: #2e2e2e;
    -fx-control-inner-background: #1E1E1E;
    -fx-text-fill: white;
}

.dark-mode .label, .dark-mode .footer-container .radio-button {
    -fx-text-fill: white;
}
